ul {
  list-style: none;
}
.header {
  background: #f8f8f8;
  padding: 12px 24px;
  border-bottom: 1px solid #ddd;
}

.nav-container {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.nav-link {
  color: #454545;
  background-color: #c7866a;
  text-decoration: none;
  font-weight: 500;
  padding: 10px 30px;
  border-radius: 10px;
  border: 2px solid transparent;
  font-size: 40px;
  text-transform: uppercase;
  transition: all 0.2s ease;
}

.nav-link:focus {
  outline: none;
  border-color: transparent;
}
.nav-link.active {
  color: #fff;
  background-color: #c66338;
  box-shadow: 0 2px 6px rgba(198, 99, 56, 0.568);
}
